---
import External from '@/components/icons/External.vue'
import type { GitHubEntry } from '@/schemas/work'
import { getVideo } from '@/utils/assets'
import Video from '../Video.vue'

type Props = {
	entry: GitHubEntry
}

const { entry } = Astro.props
const { data } = entry

const repo = await fetch(`https://api.github.com/repos/${data.github}`).then((r) => r.json())
const languages = await fetch(
	'https://raw.githubusercontent.com/ozh/github-colors/master/colors.json'
).then((r) => r.json())
const color = languages[repo.language]?.color
const { poster, src } = await getVideo(entry)
---

<div class="@container">
	<a
		rel="external"
		target="_blank"
		class="ring-contrast group relative isolate flex aspect-golden flex-col justify-end gap-2 overflow-clip rounded-2.5cqw p-6 text-white"
		href={repo.html_url}
	>
		<Video
			class="inset-0 -z-20 size-full"
			position="absolute"
			spinner={false}
			{src}
			{poster}
			client:load
		/>
		<div
			class="ring-contrast absolute inset-0 -z-10 rounded-2.5cqw bg-to-dark transition-opacity duration-200 ease-out-quad group-hover:opacity-90"
		>
		</div>
		<p>
			<span class="text-2xl font-medium">{data.github}</span>
			<span class="ml-1.5 hidden overflow-hidden real-hover:inline-block">
				<External
					class="ease-spring-200 h-[0.8rem] -translate-x-full translate-y-[110%] transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
				/>
			</span>
		</p>
		<!-- <p class="opacity-75">{repo.description}</p> -->
		<dl class="flex items-center gap-5">
			<div class="flex items-baseline gap-2 max-[20rem]:hidden">
				<dt class="block size-3 rounded-full" style={`background-color: ${color}`}>
					<span class="sr-only">Language</span>
				</dt>
				<dd class="opacity-75">{repo.language}</dd>
			</div>
			<div class="flex items-baseline gap-2 opacity-75">
				<dt>
					<svg
						class="relative top-[.0625em] h-3.5"
						viewBox="0 0 16 15"
						fill="currentColor"
						xmlns="http://www.w3.org/2000/svg"
					>
						<title>Stars</title>
						<path
							d="M7.99992 0.25C8.13993 0.24991 8.27718 0.289014 8.39612 0.362887C8.51506 0.43676 8.61094 0.542452 8.67292 0.668L10.5549 4.483L14.7649 5.095C14.9034 5.11511 15.0335 5.17355 15.1404 5.26372C15.2474 5.35388 15.3271 5.47218 15.3703 5.60523C15.4136 5.73829 15.4188 5.8808 15.3853 6.01665C15.3519 6.1525 15.2811 6.27628 15.1809 6.374L12.1349 9.344L12.8539 13.536C12.8772 13.6738 12.8616 13.8154 12.8088 13.9449C12.756 14.0743 12.6681 14.1865 12.5551 14.2687C12.442 14.3509 12.3082 14.3999 12.1688 14.4102C12.0294 14.4205 11.8898 14.3917 11.7659 14.327L7.99992 12.347L4.23392 14.327C4.11011 14.392 3.97059 14.4211 3.83111 14.411C3.69163 14.4009 3.55776 14.352 3.4446 14.2699C3.33144 14.1877 3.24351 14.0755 3.19073 13.946C3.13796 13.8165 3.12243 13.6749 3.14592 13.537L3.86592 9.343L0.81792 6.374C0.717487 6.27632 0.64642 6.15247 0.612772 6.01647C0.579125 5.88047 0.584242 5.73777 0.627545 5.60453C0.670847 5.47129 0.750604 5.35284 0.857776 5.26261C0.964948 5.17238 1.09525 5.11397 1.23392 5.094L5.44392 4.483L7.32692 0.668C7.3889 0.542452 7.48479 0.43676 7.60372 0.362887C7.72266 0.289014 7.85991 0.24991 7.99992 0.25ZM7.99992 2.695L6.61492 5.5C6.56114 5.6089 6.48171 5.70311 6.38346 5.77453C6.28522 5.84595 6.1711 5.89244 6.05092 5.91L2.95392 6.36L5.19392 8.544C5.28107 8.62886 5.34628 8.73365 5.38391 8.84933C5.42154 8.96501 5.43046 9.0881 5.40992 9.208L4.88192 12.292L7.65092 10.836C7.75855 10.7794 7.87832 10.7499 7.99992 10.7499C8.12152 10.7499 8.24129 10.7794 8.34892 10.836L11.1189 12.292L10.5889 9.208C10.5684 9.0881 10.5773 8.96501 10.6149 8.84933C10.6526 8.73365 10.7178 8.62886 10.8049 8.544L13.0449 6.361L9.94892 5.911C9.82874 5.89344 9.71462 5.84695 9.61638 5.77553C9.51813 5.70411 9.4387 5.6099 9.38492 5.501L7.99992 2.695Z"
						></path>
					</svg>
				</dt>
				<dd>{repo.stargazers_count}</dd>
			</div>
			<div class="flex items-baseline gap-2 whitespace-nowrap opacity-75">
				<dt>
					<svg
						class="relative top-[.0625em] h-3.5"
						viewBox="0 0 12 14"
						fill="currentColor"
						xmlns="http://www.w3.org/2000/svg"
					>
						<title>Forks</title>
						<path
							d="M3 4.37205V5.25005C3 5.66405 3.336 6.00005 3.75 6.00005H8.25C8.44892 6.00005 8.63968 5.92104 8.78033 5.78038C8.92099 5.63973 9 5.44897 9 5.25005V4.37205C8.49959 4.19513 8.07784 3.847 7.80928 3.38919C7.54072 2.93138 7.44265 2.39337 7.53241 1.87025C7.62216 1.34713 7.89396 0.872581 8.29976 0.530474C8.70556 0.188367 9.21924 0.000732422 9.75 0.000732422C10.2808 0.000732422 10.7944 0.188367 11.2002 0.530474C11.6061 0.872581 11.8778 1.34713 11.9676 1.87025C12.0574 2.39337 11.9593 2.93138 11.6907 3.38919C11.4222 3.847 11.0004 4.19513 10.5 4.37205V5.25005C10.5 5.84679 10.263 6.41909 9.84099 6.84104C9.41904 7.263 8.84674 7.50005 8.25 7.50005H6.75V9.62805C7.25069 9.80498 7.67271 10.1532 7.94146 10.6112C8.2102 11.0692 8.30837 11.6075 8.21862 12.1309C8.12886 12.6543 7.85695 13.1291 7.45096 13.4714C7.04497 13.8137 6.53104 14.0014 6 14.0014C5.46897 14.0014 4.95504 13.8137 4.54905 13.4714C4.14306 13.1291 3.87115 12.6543 3.78139 12.1309C3.69164 11.6075 3.78981 11.0692 4.05855 10.6112C4.3273 10.1532 4.74932 9.80498 5.25 9.62805V7.50005H3.75C3.15327 7.50005 2.58097 7.263 2.15901 6.84104C1.73706 6.41909 1.5 5.84679 1.5 5.25005V4.37205C0.999594 4.19513 0.577839 3.847 0.309281 3.38919C0.0407231 2.93138 -0.0573456 2.39337 0.0324079 1.87025C0.122161 1.34713 0.393958 0.872581 0.79976 0.530474C1.20556 0.188367 1.71924 0.000732422 2.25 0.000732422C2.78077 0.000732422 3.29445 0.188367 3.70025 0.530474C4.10605 0.872581 4.37785 1.34713 4.4676 1.87025C4.55735 2.39337 4.45929 2.93138 4.19073 3.38919C3.92217 3.847 3.50042 4.19513 3 4.37205ZM3 2.25005C3 2.05114 2.92099 1.86037 2.78033 1.71972C2.63968 1.57907 2.44892 1.50005 2.25 1.50005C2.05109 1.50005 1.86033 1.57907 1.71967 1.71972C1.57902 1.86037 1.5 2.05114 1.5 2.25005C1.5 2.44897 1.57902 2.63973 1.71967 2.78038C1.86033 2.92104 2.05109 3.00005 2.25 3.00005C2.44892 3.00005 2.63968 2.92104 2.78033 2.78038C2.92099 2.63973 3 2.44897 3 2.25005ZM9.75 3.00005C9.94892 3.00005 10.1397 2.92104 10.2803 2.78038C10.421 2.63973 10.5 2.44897 10.5 2.25005C10.5 2.05114 10.421 1.86037 10.2803 1.71972C10.1397 1.57907 9.94892 1.50005 9.75 1.50005C9.55109 1.50005 9.36033 1.57907 9.21968 1.71972C9.07902 1.86037 9 2.05114 9 2.25005C9 2.44897 9.07902 2.63973 9.21968 2.78038C9.36033 2.92104 9.55109 3.00005 9.75 3.00005ZM6.75 11.7501C6.75 11.5511 6.67099 11.3604 6.53033 11.2197C6.38968 11.0791 6.19892 11.0001 6 11.0001C5.80109 11.0001 5.61033 11.0791 5.46967 11.2197C5.32902 11.3604 5.25 11.5511 5.25 11.7501C5.25 11.949 5.32902 12.1397 5.46967 12.2804C5.61033 12.421 5.80109 12.5001 6 12.5001C6.19892 12.5001 6.38968 12.421 6.53033 12.2804C6.67099 12.1397 6.75 11.949 6.75 11.7501Z"
						></path>
					</svg>
				</dt>
				<dd>{repo.forks_count}</dd>
			</div>
		</dl>
	</a>
</div>
